.page-title {
  font-size: 60px;
  line-height: 1;
  color: #40e080;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.transition-fade {
  transition: .4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

.transition-left {
  transition: .4s;
  transform: translateX(0);
}

html.is-animating .transition-left {
  opacity: 0;
  transform: translateX(-100px);
}

main a {
  display: inline-block;
  background: #40e080;
  border-radius: 80%;
  text-align: center;
  width: 200px;
  height: 200px;
  color: white;
  padding: 5em 0 0 0;
  margin-top: 2em;
}

main .space-btn {
  display: inline-block;
  background: #40e080;
  background: rgba(0,0,0,0);
  border-radius: 80%;
  text-align: center;
  width: 200px;
  height: 200px;
  color: white;
  margin-top: 2em;
}

main .home-btn {
  display: inline-block;
  background: #40e080;
  background: rgba(0,0,0,0);
  border-radius: 80%;
  text-align: center;
  width: 100px;
  height: 100px;
  color: white;
  margin-top: 2em;
}

.btn-primary {
    background-color: #40e080;
    border-color: #40e080;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open > .dropdown-toggle.btn-primary {
    background-color: #40e080;
    border-color: #40e080;
}

.container2 > a {
  display: inline-block;
  background: #40e080;
  text-align: center;
  width: 100px;
  height: 100px;
  color: white;
  padding: 2em 0 0 0;
  margin-top: 2em;
}

.sub-header {
  font-size: 20px;
  text-align: center;
  color: white;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-btn {
  display: flex;
  background: #40e080;
  background: rgba(0,0,0,0);
  color: white;
  border-radius: 80%;
  margin-left: 10px;
  height: 80px;
  width: 80px;
}

.container-timer-btns {
  display: flex;
  justify-content: center;
}

.back-btn {
  align-self: flex-start;
  background: #40e080;
  background: rgba(0,0,0,0);
}

.volume-icon {
  align-self: flex-end;
}

.header-container {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-spaces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alternatives {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.space {
  display: flex;
}

.slider {
  display: flex;
  justify-content: center;
}

.slide {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.slider {
  margin-top: 30px;
}

.slider-vals {
  width: 32px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
  background: #343a40;
  background: rgba(0,0,0,0);
  color: white;
  outline: none;
  border: none;
}

.backstretch img {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-head {
  font-size: 18px;
  margin-top: 3px;
}

.dynamic-content {
  display: none;
}
